body {
    font-family: 'Heebo', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}


a {
    color: black;
}

a:link {
    text-decoration: none;
  }

.main-title {
    display: flex;
    text-align: center;

    
}

.main-header {
    padding-bottom: 20px;
}

header {
    padding-bottom: 20px;
}

.title-s {
    
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3em;
    flex: 1;
}

.title-s h2 {
    padding-left: 37px;
}

.icon {
    width: 40px;
    right: 0px; 
    top: 0px;  
}

input {
    border: none;
    width: 95%;
    height: 50px;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding-top: 20px;
}

.title-c {
   text-align: center;
}

.form-arrangement {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    
}

.for-div {
    display: flex;
    justify-content: center;
    width: 50%;
}


/*---for animation---*/

/* .box {
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.box label {
    position: absolute;
    top: 30px;
    color: transparent;
    font-size: 15px;
}

.box input:focus~label {
    position: absolute;
   top: -10px;
   color: black;
}

.divider {
    height: 0px;
    width: 0px;
    align-self: center;
    transition: 0.3s;
}

.box:focus-within .divider {
    width: 100%;
    height: 2.5px;
    background-color: black;
}

.box input:focus {
    border: none;
} */

/*-------------------*/

/* .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 0.5s ease-in ;
    
    &:focus {
      box-shadow: 0 2px 0 0 blue;
    }
  } */

 .ani {
     display: flex;
     flex-direction: column;
 }

 .divider {
    width: 0;
    height: 2.5px;
    align-self: center;
    transition: 0.3s;
    background-color: transparent;
    position: relative;
    top: -23px;
    right: 12px;

 }
 

  .ani input:focus~label {
    position: relative;
   top: -4rem;
   color: black;
}

.ani label {
  color: transparent;
  top: -2.7rem;
  transition: 15ms;
  position: relative;
  font-size: 14px;
}

.postal .ani:focus-within .divider{
    width: 94%;
    height: 2.5px;
    background-color: black;
    right: 7.5px;
}

.ani:focus-within .divider{
    width: 95%;
    height: 2.5px;
    background-color: black;
}

.ani input:focus-within::placeholder {
    color: transparent;
    
}

.info {
    width: 50%;
    display: flex;
    padding-right: 30px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.payment {
    width: 50%;
    height: 100%;
}

.qwe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 460px;
    height: 100%;
}

.asd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 460px;
    height: 100%;
}

.account {
    display: flex;
    flex-direction: column;
    height: 208px;
}

.acc {
    display: grid;
    
    /* flex-direction: column; */
}

.box {
    grid: 1;
}

.ship label {
    text-align: left;
}

.info h4 {
    text-align: left;
}

.zxcv {
    padding-top: 40px;
    
}


.postal {
    display: flex;
    padding-bottom: 20px;
    /* justify-content: space-between; */
    padding-top: 20px;
}




.ship select {
    padding: 8px 24px 8px 0;
    width: 100%
}

.payment h4 {
    text-align: left;
}

.card-exp {
    display: flex;
    justify-content: space-between;
}

.card-exp select {
    padding: 8px 24px 8px 0;
    width: 100%
}

.expiry {
    padding-top: 20px;
    text-align: left;
}

.cvv input {
    height: 31px;
}

.place-order {
    display: flex;
    align-items: center;
    justify-content: center;

}

.po{
    text-align: center;
    border: 2.5px solid black;
    font-size: 12px;
    height: 50px;
    width: 50%;
    
}

.order-details p {
  text-align: left;
}

.billing input {
    height: 13px;
    width: 13px;
}

select {
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
}

.po {
    cursor: pointer;
}


@media only screen and (min-width: 180px) and (max-width: 800px) {
  .chkbox {
    padding-left: 0px;
    font-size: small;
  }

  .form-arrangement {
      flex-direction: column;
      padding-top: 0px;
  }

  .billing-space {
      display: none;
  }

  .billing-title {
    width: 97.15%;
    font-size: small;
  }

  .forms {
      padding-top: 0px;
  }

  .info {
      padding-right: 0px;
  }

  .icon i {
    font-size: 28px;
    padding-top: 12px;
  }

  .po {
      font-size: 9px;
      height: 35px;
    width: 37%;
    
  }
}




