body {
    font-family: 'Heebo', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
  }
  
.main-title {
    display: flex;
    text-align: center;

    
}

.main-header {
    padding-bottom: 70px;
}

.title-s {
    
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3em;
    flex: 1;
}

.title-s h2 {
    padding-left: 0px;
}

.icon {
    width: 40px;
    right: 0px; 
    top: 0px;  
}

.menu {
    display: flex;
    justify-content: center;
    
}

.menu div {
    padding: 9px 12px;
    font-size: 15px;
    font-weight: 500;
}



.product-details {
    display: flex;
    
    justify-content: center;
}

.product {
    display: flex;
    justify-content: center;
    width: 50%;
}

img {
    width: 110%;
}

.details {
    font-weight: 500;
    
    width: 35%;
}

.des {
    height: 100%;
    width: 64%;
    font-size: 13px;
    color: rgb(136, 136, 136);
}

.cart {
    display: flex;
    justify-content: flex-start;
}
.for-border {
    height: 54px;
    width: 175px;
    border: 2.5px solid black;
    display: flex;
    justify-content: center;
}

.price {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: rgb(136, 136, 136);
    width: 367px;

}

.size {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    color: rgb(136, 136, 136);
    width: 367px;
}

.quantity {
    padding: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
    color: rgb(136, 136, 136);
    width: 367px;
}

.descrip {
    padding-top: 0px;
}

.heading {
    font-size: 15px;
}

select {
    font-size: 16px;
    border: none;
    background: none;
    left: 10px;
}

@media only screen and (min-width: 180px) and (max-width: 800px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .icon i {
        font-size: 28px;
        padding-top: 12px;
      }

      .icon {
          width: 37px;
      }

      .title-s {
        font-size: 10px;
        letter-spacing: 0.2em;
      }

      .title-s h2{
          padding-left: 40px;
      }

      .menu {
          display: none;
      }

      .main-header {
          padding-bottom: 0px;
      }

      .product-details {
        flex-direction: column;
      }

      .product {
          width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      .details {
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
      }

      .des {
          width: 90%;
      }

      .price {
          font-size: 14px;
      }

      .heading {
          font-size: 13px;
      }

      .descrip {
          padding-bottom: 20px;
      }

      .cart  {
          justify-content: center;
      }

      .cart-box h5 {
          font-size: 12px;
      }

      
}