body {
    font-family: 'Heebo', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

.main-title {
    display: flex;
    text-align: center;

    
}

.main-header {
    padding-bottom: 20px;
}

.title-s {
    
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3em;
    flex: 1;
}

.title-s h2 {
    padding-left: 0px;
}

.icon {
    width: 40px;
    right: 0px; 
    top: 0px;  
}

.menu {
    display: flex;
    justify-content: center;
    
}

.menu div {
    padding: 9px 12px;
    font-size: 15px;
    font-weight: 500;
}

.box {
    display: flex;
    flex-direction: column;
}

.img-m {
    background-image: url('../img/mens_outerwear.jpg');
    background-position: 0% 50%;
    background-size: cover;
    height: 45vh;
    
    
}

.container-1 {
    padding-left: 171px;
    padding-right: 171px;
    padding-bottom: 50px;
}

.img-title-m {
    
    top: 311px;
    left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img-title-m h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 32px 0;
    text-align: center;
}

.for-flex {
    display: flex;
    justify-content: center;
}

.sn {
   border: 2.5px solid black;
   text-align: center;
   font-size: 13px;
   height: 43px;
    width: 123px;
}

.img-f {
    background-image: url('../img/ladies_outerwear.jpg');
    background-position: 0% 50%;
    background-size: cover;
    height: 45vh;
}

.container-2 {
    padding-left: 171px;
    padding-right: 171px;
    padding-bottom: 50px;
}

.img-title-f {
    top: 311px;
    left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img-title-f h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 32px 0;
    text-align: center;
}


.box2 {
    display: flex;
    padding-left: 171px;
    padding-right: 171px;
    padding-bottom: 30px;
}

.mts-img {
    background-image: url(../img/mens_tshirts.jpg);
    background-position: 50% 0%;
    background-size: cover;
    height: 45vh;
    width: 713px;
}

.mts-title {
    top: 311px;
    left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mts-title h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 32px 0;
    text-align: center;
}


.lts-img {
    background-image: url(../img/ladies_tshirts.jpg);
    background-position: 50% 0%;
    background-size: cover;
    height: 45vh;
    width: 713px;
}

.lts-title {
    top: 311px;
    left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lts-title h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 32px 0;
    text-align: center;
}

